Click==7.0
Flask==1.0.2
Flask-Admin==1.5.3
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
selenium==3.141.0
SQLAlchemy==1.2.15
urllib3==1.24.1
Werkzeug==0.14.1
WTForms==2.2.1
