{% extends 'admin/model/list.html' %}
{% block list_row_actions %}
    <a class="icon" href="/admin/user/edit/?id={{ get_pk_value(row) }}&amp;url=/admin/user/" title="Edit Record">
        <span class="fa fa-pencil glyphicon glyphicon-pencil"></span>
    </a>
    <form class="icon" method="POST" action="/admin/user/delete/">
        <input id="id" name="id" required="" value="{{ get_pk_value(row) }}" type="hidden">
        <input id="url" name="url" type="hidden" value="/admin/user/">
        <button onclick="return confirm('Are you sure you want to delete selected users?');" title="Delete">
            <span class="fa fa-trash glyphicon glyphicon-trash"></span>
        </button>
    </form>
{% endblock %}

