{% extends 'admin/master.html' %}
{% block body %}


{#    <form action="{{ url_for('client.index') }}" method="POST">#}
  <div class="form-group">
        <label for="searchTextArea">Введите поисковые запросы, одна строка - один запрос</label>
        <textarea class="form-control" id="searchTextArea" rows="3"></textarea>
    </div>
{#        <right>#}
  <button id="search" type="submit" class="btn btn-primary">Отправить поисковые запросы</button>
{#            </right>#}
{#</form>#}

{% endblock %}

{% block tail_js %}
    {{ super() }}
    <script>
        $("#search").click(function () {
                let data = $("#searchTextArea").val();
                $.post( "{{ url_for('client.index') }}", {'data': data})
                    .done(function() {alert( "Данные отправлены, ожидайте ответ на почте через  N минут" )})
                    .fail(function() {alert( "Возникла ошибка, свяжитесь с администратором" )})
            }
        );

    </script>

{% endblock tail_js %}